<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>SumUp</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>

<body>
	<!-- Include the navigation bar -->
	<div th:replace="layouts/NavBar :: nav"></div>
		<h1>page</h1> 

	<fieldset>
		<form th:action="@{/submit}" th:object="${userForm}" method="post">
			<label>First Name</label><input type="text" th:field="*{fname}" /><br>
			<label>Last Name</label><input type="text" th:field="*{lname}" /><br>
			<label>Mobile</label><input type="text" th:field="*{mobile}" /><br>
			<label>Enter alias</label><input type="text" th:field="*{alias}" /><br>
			<lable>Email</lable><input type="text" th:field="*{email}" /><br>
			<label>Password</label><input type="text" th:field="*{password}" />
			<button type="submit">form submit</button>
			<script th:if="${error!=null}" th:inline="javascript">
				alert("Alias already exists, please choose another one");
			</script>
		</form>

	</fieldset >
</body >

</html >